
.footer {
    background-color: black; 
    color: white; 
    padding: 1.5rem 1rem; 

    text-align: center; 
    width: 97.8%;
    bottom: 0; 
    z-index: 1000;
  }
  
  .footer span {
    font-size: 1rem; 
  }
  