.navbar {
  background-color: #000000;
  color: white;
  padding: 1rem;
  text-align: center;
  height: 35px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 2rem;
}

strong {
  margin-right: 25%;
  font-size: 25px;
  margin-left: 60px;
  margin-top: -5px;
  color: orange;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: orange;
}
