/* Projects Section */
.projects {
  background-color: #181818; 
  color: #333; 
  padding: 65px 20px; 
  text-align: center;
}

.projects h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 20px;
  color: #f6f4f4; 
}

/* Projects Container */
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Project Card */
.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 75%; 
  padding: 20px;
  margin-top: 20px;
}

.project-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.project-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: left;
  margin-right: 20px;
}

.project-links a {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 800;
  transition: color 0.3s ease, transform 0.3s ease; 
}

.project-links a:hover {
  color: #0056b3;
  transform: scale(1.1); 
}
