/* Projects Section */
.projects {
  background-color: #fcf2e4; /* Light background */
  color: #333; /* Dark text color */
  padding: 50px 20px; /* Generous padding for better spacing */
  text-align: center;
}

.projects h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333; /* Dark color for heading */
}

/* Projects Container */
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Project Card */
.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 60%; /* Increased width */
  padding: 20px;
  /* transition: transform 0.1s ease, box-shadow 0.1s ease; */
}

.project-card:hover {
  /* transform: translateY(-10px); */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: left;
  margin-right: 20px;
}

.project-links a {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 800;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and transform */
}

.project-links a:hover {
  color: #0056b3;
  transform: scale(1.1); /* Slightly increase size on hover */
}
